.header {
    background-color: var(--beige);
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    width: 393px;
    height: auto;

    button {
        align-items: center;
        background-color: var(--blue);
        background: none;
        border: none;
        cursor: pointer;

    }
}

.header [aria-hidden="false"] {
    visibility: visible;
    opacity: 1;
}



.no-scroll {
    overflow: hidden;
}


html.no-scroll,
body.no-scroll {
    overflow: hidden;
    height: 100%;
    touch-action: none;
}

.header__logo {
    margin-top: var(--margin-3);
    margin-bottom: var(--margin-3);
    margin-left: var(--margin-2);
    margin-right: var(--margin-2);
}

.header__menu {
    margin-top: var(--margin-3);
    margin-bottom: var(--margin-3);
    margin-left: auto;
    margin-right: var(--margin-2);
}

.timer {
    font-size: var(--titre);
    font-family: Lato;
    color: var(--beige);
    display: inline-block;
    width: 317px;
    height: 48px;
    margin: var(--margin-2);
    padding: var(--margin-3);

}

main {
    background-color: var(--blue);
}

h3 {
    font-size: var(--xl);
    text-align: center;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 343px;
    margin: var(--margin-2);
    margin-top: 0;
    color: var(--beige);
}

.home__btn-blleterie {

    display: block;
    background-color: var(--beige);
    color: var(--blue);
    border: none;
    cursor: pointer;
    width: 343px;
    margin: var(--margin-2);
    font-family: Pacifico;
    font-size: var(--titre-1);
    padding: var(--margin-3);
}

.home__btn {
    background-color: var(--blue);
    border: none;
}

.home__link {
    text-decoration: none;
    display: block;
    background-color: var(--beige);
    color: var(--blue);
    border: none;
    cursor: pointer;
    width: 312px;
    margin: var(--margin-2);
    font-family: Pacifico;
    font-size: var(--titre-1);
    padding: var(--margin-3);
    padding-bottom: var(--margin-2);
}

.vignette-apercu-accueil {
    list-style: none;
    align-items: center;
    display: flex;
    align-self: stretch;
    margin: var(--margin-2);
    padding: 0;
}

.footer__partenaires {
    background-color: var(--beige);
    list-style: none;
    display: flex;
    margin: 0;
    padding: var(--margin-2);
}

h4 {
    font-family: Pacifico;
    font-size: var(--titre-1);
    font-weight: 400;
    text-align: center;
    color: var(--beige);
    display: flex;
    width: 343px;
    height: 77px;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}

.contactlabel {
    font-family: Lato;
    font-size: var(--xl);
    font-weight: 400;
    color: var(--beige);
}

.contactinput {
    font-family: Lato;
    font-size: var(--xl);
    font-weight: 400;
    color: var(--black);
    width: 343px;
    height: 32px;
    margin-bottom: var(--margin-2);
    background-color: var(--beige);
    border: none;
    border-radius: 5px;
}

.contactinput4 {
    font-family: Lato;
    font-size: var(--m);
    font-weight: 400;
    color: var(--black);
    width: 343px;
    height: 96px;
    margin-bottom: var(--margin-2);
    background-color: var(--beige);
    border: none;
    border-radius: 5px;
}

.contactform {
    margin: var(--margin-2);
    background-color: var(--blue);
}

.contactsubmit-btn {
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    font-size: var(--l);
    font-weight: 400;
    color: var(--blue);
    background-color: var(--green);
    border: none;
    cursor: pointer;
    width: 166px;
    height: 32px;
    margin-bottom: var(--margin-2);
    border-radius: 5px;
}

.réseaux__sociaux-texte {
    font-family: Pacifico;
    color: var(--beige);
    margin-bottom: var(--margin-3);
}

.contact__infos {
    font-family: Lato;
    color: var(--beige);
    margin-bottom: var(--margin-2);
    margin-top: 0;
}

.contact {
    margin-left: var(--margin-2);
}

.réseaux__sociaux-btn {
    padding-bottom: var(--margin-2);
}