.timer {
    font-size: var(--titre);
    font-family: Lato;
    color: var(--beige);
    display: inline-block;
    width: 317px;
    height: 48px;
    margin: var(--margin-2);
    padding: var(--margin-3);

}

main {
    background-color: var(--blue);
    padding-bottom: var(--margin-2);
}

h3 {
    font-size: var(--xl);
    text-align: center;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 343px;
    margin: var(--margin-2);
    margin-top: 0;
    color: var(--beige);
}

.home__btn-blleterie {

    display: block;
    background-color: var(--beige);
    color: var(--blue);
    border: none;
    cursor: pointer;
    width: 343px;
    margin: var(--margin-2);
    font-family: Pacifico;
    font-size: var(--titre-1);
    padding: var(--margin-3);
}


.home__link2 {
    text-decoration: none;
    display: block;
    background-color: var(--beige);
    color: var(--blue);
    border: none;
    cursor: pointer;
    margin: var(--margin-2);
    margin-bottom: var(--margin-2);
    margin-left: var(--margin-2);
    font-family: Pacifico;
    font-size: var(--titre-1);
    padding-top: var(--margin-3);
    padding-bottom: var(--margin-2);
    width: 343px;
    text-align: center;
}

.home__link1 {
    text-decoration: none;
    display: block;
    background-color: var(--beige);
    color: var(--blue);
    border: none;
    cursor: pointer;
    margin: var(--margin-2);
    margin-bottom: var(--margin-2);
    margin-left: var(--margin-2);
    font-family: Pacifico;
    font-size: var(--titre-1);
    padding-top: 18.5px;
    padding-bottom: 18.5px;
    width: 343px;
    text-align: center;
}

.vignette__apercu-accueil {
    list-style: none;
    align-items: center;
    display: flex;
    align-self: stretch;
    margin: var(--margin-2);
    padding: 0;
    gap: 2.5px;
}

h4 {
    font-family: Pacifico;
    font-size: var(--titre-1);
    font-weight: 400;
    text-align: center;
    color: var(--beige);
    display: flex;
    width: 343px;
    height: 77px;
    flex-direction: column;
    margin: 0;
    justify-content: center;
}

.contact__label {
    font-family: Lato;
    font-size: var(--xl);
    font-weight: 400;
    color: var(--beige);
}

.contact__input {
    font-family: Lato;
    font-size: var(--xl);
    font-weight: 400;
    color: var(--black);
    width: 343px;
    height: 32px;
    margin-bottom: var(--margin-2);
    background-color: var(--beige);
    border: none;
    border-radius: 5px;
}

.contact__input4 {
    font-family: Lato;
    font-size: var(--m);
    font-weight: 400;
    color: var(--black);
    width: 343px;
    height: 96px;
    margin-bottom: var(--margin-2);
    background-color: var(--beige);
    border: none;
    border-radius: 5px;
}

.contact__form {
    margin: var(--margin-2);
    background-color: var(--blue);
}

.contact__submit-btn {
    font-family: Lato;
    font-style: normal;
    font-weight: 700;
    font-size: var(--l);
    font-weight: 400;
    color: var(--blue);
    background-color: var(--green);
    border: none;
    cursor: pointer;
    width: 166px;
    height: 32px;
    margin-bottom: var(--margin-2);
    border-radius: 5px;
}

.réseaux__sociaux-texte {
    font-family: Pacifico;
    color: var(--beige);
    margin-bottom: var(--margin-3);
}

.contact__btn {
    text-decoration: none;
    font-family: Pacifico;
    color: var(--beige);
    margin-top: 94px;
    margin-bottom: 0;
}

.contact__infos {
    font-family: Lato;
    color: var(--beige);
    margin-bottom: var(--margin-2);
    margin-top: 0;
}

.contact {
    margin-left: var(--margin-2);
}

.réseaux__sociaux-btn {
    padding-bottom: var(--margin-2);
}

.home__infos-btn {
    text-decoration: none;
    display: block;
    background-color: var(--beige);
    color: var(--blue);
    border: none;
    cursor: pointer;
    margin: var(--margin-2);
    margin-bottom: 0;
    margin-left: 70px;
    font-family: Pacifico;
    font-size: var(--xl);
    padding: var(--margin-2);
    padding-bottom: var(--margin-2);
    padding-right: 19px;
    width: 203px;
}

.home__infos {
    background-color: var(--blue);
}

.menu__infos-titre {
    font-family: Pacifico;
    font-size: var(--2xl);
    font-weight: 400;
    color: var(--beige);
    margin-top: 5px;
    margin-left: var(--margin-2);
    margin-bottom: var(--margin-3);
}

.home__infos-text {
    font-family: Lato;
    font-size: var(--xs);
    font-weight: 400;
    color: var(--beige);
    margin-top: 0;
    margin-left: var(--margin-2);
    margin-right: var(--margin-2);
}

.scenes__vignette-titre1 {
    text-decoration: none;
    display: block;
    font-family: Pacifico;
    font-size: var(--l);
    color: var(--blue);
    background-color: var(--beige);
    width: 331px;
    height: 56px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: var(--margin-2);
    padding-left: var(--margin-3);
    padding-top: 18px;
}

.scenes__vignette-titre2 {
    text-decoration: none;
    display: block;
    font-family: Pacifico;
    font-size: var(--l);
    color: var(--blue);
    background-color: var(--beige);
    width: 331px;
    height: 56px;
    font-weight: 400;
    margin-top: 0;
    padding-left: var(--margin-3);
    padding-top: 18px;
    margin-bottom: 0;
}

.scenes__vignette {
    margin-left: var(--margin-2);
    margin-right: var(--margin-2);
}

.infos-pratiques {
    margin-left: var(--margin-2);
    margin-right: var(--margin-2);
}

.infos__titre {
    margin-left: var(--margin-2);
    margin-right: var(--margin-2);
}

.infos__sous-titre {
    font-family: Pacifico;
    font-size: var(--l);
    font-weight: 400;
    color: var(--beige);
    margin-top: var(--margin-2);
    margin-bottom: var(--margin-2);
}

.infos__liste {
    font-family: Lato;
    font-size: var(--xs);
    font-weight: 400;
    color: var(--beige);
    margin-top: 0;
    margin-bottom: var(--margin-2);
    padding-left: var(--margin-2);
}

.infos__texte {
    font-family: Lato;
    font-size: var(--xs);
    font-weight: 400;
    color: var(--beige);
    margin-top: 0;
    margin-bottom: var(--margin-3);
}

.erreur__logo {
    width: 190px;
    height: auto;
    display: block;
    margin-left: 101.5px;
    padding-top: 121px;
    margin-bottom: 48px;
}

.erreur__titre {
    color: var(--beige);
    text-align: center;
    font-family: Pacifico;
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    width: 343px;
    height: 84px;
    flex-direction: column;
    justify-content: center;
    margin-left: var(--margin-2);
    margin-bottom: auto;
}

.erreur__texte {
    color: var(--beige);
    text-align: center;
    font-family: Lato;
    font-size: var(--xl);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    width: 343px;
    height: 84px;
    flex-direction: column;
    justify-content: center;
    margin-left: var(--margin-2);
    margin-top: var(--margin-3);
}