.header{
    background-color: var(--beige);
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    width: 393px;
    height: auto;
    
    button {
        align-items: center;
        background-color: var(--blue);
        background: none;
        border: none;
        cursor: pointer;
        margin-right: var(--header);
        
    }
}

.header [aria-hidden="false"] {
    visibility: visible;
    opacity: 1;
}



.no-scroll {
    overflow: hidden;
}


html.no-scroll,
body.no-scroll {
    overflow: hidden;
    height: 100%;
    touch-action: none;
}

.header__logo {
    margin-top: var(--margin-3);
    margin-bottom: var(--margin-3);
    margin-left: var(--margin-2);
    margin-right: var(--margin-2);
}

.header__menu {
    margin-top: var(--margin-3);
    margin-bottom: var(--margin-3);
    margin-left: auto;
    margin-right: var(--margin-2);
}

.timer {
    font-size: var(--titre);
    font-family: Lato;
    background-color: #2C4258;
    color: #ECD8BD;
    padding: 20px 40px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    display: inline-block;
    width: 363px;
    height: 48px;
}