.header {
    background-color: var(--beige);
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    width: 393px;
    height: auto;

    button {
        align-items: center;
        background-color: var(--blue);
        background: none;
        border: none;
        cursor: pointer;

    }
}

.header [aria-hidden="false"] {
    visibility: visible;
    opacity: 1;
}



.no-scroll {
    overflow: hidden;
}


html.no-scroll,
body.no-scroll {
    overflow: hidden;
    height: 100%;
    touch-action: none;
}

.header__logo {
    margin-top: var(--margin-3);
    margin-bottom: var(--margin-3);
    margin-left: var(--margin-2);
    margin-right: var(--margin-2);
}

.header__menu {
    margin-top: var(--margin-3);
    margin-bottom: var(--margin-3);
    margin-left: auto;
    margin-right: var(--margin-2);
}

.timer {
    font-size: var(--titre);
    font-family: Lato;
    color: var(--beige);
    display: inline-block;
    width: 317px;
    height: 48px;
    margin: var(--margin-2);
    padding: var(--margin-3);

}

main {
    background-color: var(--blue);
}

h3 {
    font-size: var(--xl);
    text-align: center;
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 343px;
    margin: var(--margin-2);
    margin-top: 0;
    color: var(--beige);
}

.home__btn-blleterie {

    display: block;
    background-color: var(--beige);
    color: var(--blue);
    border: none;
    cursor: pointer;
    width: 343px;
    margin: var(--margin-2);
    font-family: Pacifico;
    font-size: var(--titre-1);
    padding: var(--margin-3);
}

.home__btn {
    background-color: var(--blue);
    border: none;
}

.home__link {
    text-decoration: none;
    display: block;
    background-color: var(--beige);
    color: var(--blue);
    border: none;
    cursor: pointer;
    width: 312px;
    margin: var(--margin-2);
    font-family: Pacifico;
    font-size: var(--titre-1);
    padding: var(--margin-3);
    padding-bottom: var(--margin-2);
}

.vignette-apercu-accueil {
    list-style: none;
    align-items: center;
    display: flex;
    align-self: stretch;
    margin: var(--margin-2);
    padding: 0;
}

.footer__partenaires {
    background-color: var(--beige);
    list-style: none;
    display: flex;
    margin: 0;
    padding: var(--margin-2);
}