.menu-hero__img {
    width: 393px;
}

.accueil__img-apercu1,
.accueil__img-apercu2,
.accueil__img-apercu3,
.accueil__img-apercu4,
.accueil__img-apercu5 {
    border-radius: 15%;
    width: 67px;
    height: 44px;
}

.footer__img-partenaire1,
.footer__img-partenaire2 {
    margin-right: var(--margin-1);
    width: auto;
    height: 48px;
}

.footer__img-partenaire3 {
    width: auto;
    height: 48px;
}

.menu__infos-img {
    width: 393px;
    height: auto;
}

.scenes__vignette-img {
    width: 343px;
    height: auto;
    margin-bottom: 0;
}