/* Spaces */
:root {
    --margin-3: 0.75rem;        /* 12px */
    --margin-2: 1.5625rem;      /* 25px */
    --margin-1: 2.1875rem;      /* 35px */
}

/* color */
:root {
    --beige: #ecd8bd;
    --black: #181818;
    --blue: #2c4258;
    --green: #94af5e;
}

/* typographie */
:root {
    --xs: 0.9375rem;    /* 15px */
    --s: 1rem;          /* 16px */
    --m: 1.125rem;      /* 18px */
    --l: 1.25rem;       /* 20px */
    --titre-2: 1.5rem;  /* 24px */
    --artiste: 2rem;    /* 32px */
    --titre: 2.5rem;    /* 40px */
    --titre-1: 3rem;    /* 48px */
}