.menu__header {
    background-color: var(--blue);
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    width: 393px;
    height: 60px;

    button {
        align-items: center;
        background-color: var(--blue);
        background: none;
        border: none;
        cursor: pointer;
        margin-right: var(--margin-2);
        
    }
}

.menu {
    background-color: var(--blue);
    position: sticky;
    top: 0;
    left: 0;
    width: 393px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.menu__logo {
    margin-left: var(--margin-2);
    margin-right: auto;
    margin-top: var(--margin-3);
    margin-bottom: var(--margin-3);
}

.menu.open {
    transform: none;
    max-height: 852px;
}


.menu__link {
    color: var(--beige);
    text-decoration: none;
}

.menu__list {
    margin-top: 75px;
    list-style: none;
    padding: 0;
    margin-top: 15px;
    margin-left: 30px;
    font-family: Pacifico, serif;
    font-size: var(--xxl);
}


.menu-contact__infos {
    font-family: Lato;
    color: var(--beige);
}

.menu__contact,
.resauxsociaux {
    margin-left: var(--margin-2);
}

.menu-contact__btn {
    text-decoration: none;
    font-family: Pacifico;
    color: var(--beige);
    margin-top: 94px;
    margin-bottom: 0;
}

.item1 {
    margin-top: 93px;
}

