.menu__header {
    background-color: var(--blue);
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
    width: 393px;
    height: 60px;
    margin-top: var(--margin-3);
}


.menu__header button,
.menu__header .menu__close {
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    margin-right: var(--margin-2);
    padding: 0.25rem;
}

.menu__header .menu__close img {
    display: block;
    width: 48px;
    height: auto;
}

.menu {
    background-color: var(--blue);
    position: fixed;
    top: 0;
    left: 0;
    width: 393px;
    height: 100vh;
    overflow: auto;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out;
}

.menu__logo {
    margin-left: var(--margin-2);
    margin-right: auto;
    margin-top: var(--margin-3);
    margin-bottom: var(--margin-3);
}

.menu.open {
    transform: translateY(0);
}


.menu__link {
    color: var(--beige);
    text-decoration: none;
}

.menu__list {
    margin-top: 75px;
    list-style: none;
    padding: 0;
    margin-top: 15px;
    margin-left: 30px;
    font-family: Pacifico, serif;
    font-size: var(--titre-1);
}


.menu-contact__infos {
    font-family: Lato;
    font-size: var(--m);
    color: var(--beige);
    margin-bottom: var(--margin-2);
    margin-top: 0;
}

.menu__contact,
.resauxsociaux {
    margin-left: var(--margin-2);
}

.menu-contact__btn {
    text-decoration: none;
    font-family: Pacifico;
    color: var(--beige);
    margin-top: 94px;
    margin-bottom: 0;
    font-size: var(--xl);
}

.item1 {
    margin-top: 132px;
}

.item3 {
    margin-bottom: 160px;
}

.menu__logo1,
.menu__logo2,
.menu__logo3 {
    margin-right: var(--margin-2);
    align-items: center;
}